@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    font-family: "Mulish";
}

.container {
    display: flex;
}

/* Nav bar CSS */
#navbar {
    position: sticky;
    /* Make the navbar fixed */
    left: 0;
    top: 0;
    width: 14%;
    min-height: 100vh;
    background-color: #f4f4f6;
    overflow-y: auto;
    /* Add vertical scroll if needed */
}

.nav-child h1 {
    margin: 10px;
    margin-left: 10%;
}

#filterbar {
    margin: 10px;
    margin-left: 2.5%;
}

#search {
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 15px;
    margin: 20px;
    margin-left: 10%;
}

.link-div {
    margin: 15px;
    margin-left: 10%;
}

.link-div:hover .nav-icon {
    transform: scale(1.5);
}

.nav-icon {
    width: 15px;
}

.links {
    color: #262626;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}

.links:hover {
    color: #722ed1;
}

.bottom-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    /* Add some padding at the bottom */
}

/* left div*/

.profile-span {
    margin-top: 0.5%;
    margin-left: 92%;
}

.notification {
    width: 40px;
}

.profile-img {
    width: 40px;
    border-radius: 50%;
    padding-left: 1%;

}

/* #dashboard-div h1 {
    margin: 20px;
    margin-left: 2%;
} */


#dashboard-div {
    width: 85.8%;
    min-height: 100vh;
    position: fixed;
    left: 14%;
}

#button-div {
    /* border: 2px solid black; */
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-customer {
    border-color: #722ed1;
    border: 2px solid;
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    color: #722ed1;
    background-color: white;
}

#add-Employee-dashboard {
    border-color: #722ed1;
    border: 2px solid;
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    color: #722ed1;
    background-color: white;
}

#key-indicators {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
    margin: 2%;
}

#graph-section {
    display: flex;
    justify-content: space-around;
}


#successful-case {
    font-weight: bold;
    background-color: #f9f0ff;
    padding-left: 30px;
    text-align: start;
    border-radius: 5px;
}

#leads {
    font-weight: bold;
    background-color: #fff2e8;
    padding-left: 30px;
    text-align: start;
    border-radius: 5px;
}

#request {
    font-weight: bold;
    background-color: #f6ffed;
    padding-left: 30px;
    text-align: start;
    border-radius: 5px;
}

#new-customer {
    font-weight: bold;
    background-color: #e6f7ff;
    padding-left: 30px;
    text-align: start;
    border-radius: 5px;
}



/* Employee-Page CSS*/

.active-status {
    color: #52c41a;
    background-color: #f6ffed;

}



/*#search_cust:focus {
    outline: none;
}*/

#search_cust {
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    color: black;
    border: 1px solid #ccc;
}



select {
    padding: 8px;
    font-size: 16px;
    background-color: #f4f4f6;
    color: black;
    border: 1px solid gray;
    border-radius: 8px;
}

select:focus {
    outline: none;
}

#employees-page {
    display: none;
}

/* table td:first-child {
    width: 50px;
    /* Set the desired width for the first (image) column */
/* }  */

table {
    text-align: center;
    margin: auto;
    width: 98%;
    /* border-collapse: collapse; */
}

thead {
    background-color: #f4f4f6;
    color: black;
}

td,
th {
    border-bottom: 1px solid #ddd;
}

td {
    padding: 10px;
    margin: 0px;
}

tbody {
    background-color: white;
    color: black;
}

#pagination-wrapper {
    display: flex;
    margin-top: 20px;
    column-gap: 20px;
    justify-content: center;
}

#pagination-wrapper button:hover {
    background-color: white;
}

#pagination-wrapper button:focus {
    background-color: #fff;
    color: black;
}

#pagination-wrapper button {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    margin-right: 5px;
}



#customers-page {
    display: inline-block;
    width: 85.8%;
    min-height: 100vh;
    position: fixed;
    left: 14%;
}

#ascAge {
    padding: 8px;
    font-size: 16px;
    background-color: #f4f4f6;
    color: black;
    border: 1px solid gray;
    border-radius: 8px;
}

#desAge {
    padding: 8px;
    font-size: 16px;
    background-color: #f4f4f6;
    color: black;
    border: 1px solid gray;
    border-radius: 8px;
}

td {
    line-height: 20px;
}

#cPagination {
    width: 10%;
    position: fixed;
    display: flex;
    /* margin: 25px auto; */
    margin-left: 35%;
    justify-content: space-between;
}

#cPagination a {
    font-size: 22px;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    width: 30px;
    text-align: center;
    margin-top: 3px;
    border: 1px solid black;
    /* background-color: #52c41a; */
}

#cPagination a:hover {
    color: royalblue;
    background-color: aliceblue;
    font-size: 24px;
}


#partnerInfo {
    display: none;
    /* background-color: #ccc; */
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

/* Form of employee */

#add-customer-form {
    width: 30%;
    /* border: 2px solid black; */
    text-align: center;
    display: none;
    overflow-y: scroll;
    position: absolute;
    max-height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
}

label {
    margin-left: 10px;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px;
}

input:focus {
    outline: none;
    border-bottom: none;
}

input,
select {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input {
    margin-right: 5px;
    margin-top: 10px;
}

select#caseStatus {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
}

select#caseStatus:focus {
    outline: none;
    border-bottom: none;
}

select#familyStatus {
    /* width: 20%; */
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    /* margin-left: -2px; */
    padding: 5px;
}

select#familyStatus:focus {
    outline: none;
    border-bottom: none;
}

#add-customer-form button {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    /* width: 10%; */
    font-size: 22px;
    border-radius: 5px;
    border: none;
}

#add-customer-form button:hover {
    color: royalblue;
    background-color: aliceblue;
    font-size: 24px;
}

#m_name {
    margin-left: 40px;
}

#m_No {
    margin-left: 25px;
}

#m_Email {
    margin-left: 43px;
}

#m_Age {
    margin-left: 53px;
}

#case_ID {
    margin-left: 33px;
}

#_Address {
    margin-left: 23px;
}

#case_Status {
    margin-left: 23px;
}

#family_Status {
    margin-left: 15px;
}

#f_pic {
    margin-left: 50px;
}

#f_No {
    margin-left: 0px;
}

#f_Email {
    margin-left: 20px;
}

#f_Age {
    margin-left: 30px;
}

#customer button {
    font-weight: 600;
}


/* edit button styling */
#edit-customer-form {
    width: 30%;
    border: 2px solid black;
    text-align: center;
    display: none;
    overflow-y: scroll;
    position: absolute;
    max-height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
}

#edit-customer-form #eclose-btn1 {
    position: absolute;
    top: 5px;
    right: 5px;
}

#edit-customer-form button {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    /* width: 10%; */
    font-size: 22px;
    border-radius: 5px;
    border: none;
}

#edit-customer-form button:hover {
    color: royalblue;
    background-color: aliceblue;
    font-size: 24px;
}

/* footer css */
#footer {
    display: flex;
    flex-direction: row;
    margin: 25px auto;
    justify-content: space-between;
    /* border: 1px solid; */
    width: 90%;
}

#additionalBtn {
    display: none;
}

#additionalBtn button {
    /* margin: 25px auto; */
    border: none;
    padding: 5px;
    /* width: 10%; */
    font-size: 22px;
    border-radius: 5px;
}

#additionalBtn button:hover {
    color: royalblue;
    background-color: aliceblue;
    font-size: 24px;
}

#deletedmodel {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#addedmodel {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* model content */
.model-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.model-content h1 {
    text-align: center;
}

/* Close button */
.close,
.close1 {
    background-color: #aaa;
    float: right;
    font-size: 28px;
    width: auto;
    height: auto;
    border-radius: 5px;
    font-weight: bold;
}

.close:hover,
.close1:hover {
    color: royalblue;
    background-color: aliceblue;
    font-size: 30px;
}