@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    font-family: "Mulish";
}

.container {
    display: flex;
}

/* Nav bar CSS */
#navbar {
    position: sticky;
    /* Make the navbar fixed */
    left: 0;
    top: 0;
    width: 14%;
    min-height: 100vh;
    background-color: #f4f4f6;
    overflow-y: auto;
    /* Add vertical scroll if needed */
}

.nav-child h1 {
    margin: 10px;
    margin-left: 10%;
}

#search {
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 15px;
    margin: 20px;
    margin-left: 10%;
}

.link-div {
    margin: 15px;
    margin-left: 10%;
}

.link-div:hover .nav-icon {
    transform: scale(1.5);
}

.nav-icon {
    width: 15px;
}

.links {
    color: #262626;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}

.links:hover {
    color: #722ed1;
}

.bottom-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    /* Add some padding at the bottom */
}

/* left div*/


#button-div {
    /* border: 2px solid black; */
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-Employee-emp {
    border-color: #722ed1;
    border: 2px solid;
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    color: #722ed1;
    background-color: white;
}

/* 
#leads {
    font-weight: bold;
    background-color: #fff2e8;
    padding-left: 30px;
    text-align: start;
    border-radius: 5px;
}

#request {
    font-weight: bold;
    background-color: #f6ffed;
    padding-left: 30px;
    text-align: start;
    border-radius: 5px;
} */

/* #new-customer {
    font-weight: bold;
    background-color: #e6f7ff;
    padding-left: 30px;
    text-align: start;
    border-radius: 5px;
} */



/* Employee-Page CSS*/

.active-status {
    color: #52c41a;
    background-color: #f6ffed;
}
.sick-status{
    color: #ffbb96;
    background-color: #fff2e8;
}
.meeting-status{
    color: #1890ff;
    background-color: #e6f7ff;
}

/*#search_emp:focus {
    outline: none;
}*/

#search_emp {
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    color: black;
    line-height: 1;
    width: max-content;
    border: 1px solid #ccc;
}

#employees-page {
    width: 85.8%;
    min-height: 100vh;
    position: fixed;
    left: 14%;

}

select {
    padding: 8px;
    font-size: 16px;
    background-color: #f4f4f6;
    color: black;
    border: 1px solid gray;
    border-radius: 8px;
}

select:focus {
    outline: none;
}

#employees-page {
    display: inline-block;
}

/* table td:first-child {
    width: 50px;
    /* Set the desired width for the first (image) column */
/* }  */

table {
    text-align: center;
    margin: auto;
    width: 98%;
    /* border-collapse: collapse; */
}

thead {
    background-color: #f4f4f6;
    color: black;
}

td,
th {
    border-bottom: 1px solid #ddd;
}

td {
    padding: 15px;
    margin: 0px;
    line-height: 2;
}

tbody {
    background-color: white;
    color: black;
}

/* #pagination-wrapper {
    display: flex;
    margin-top: 20px;
    column-gap: 20px;
    justify-content: center;
} */

/* #pagination-wrapper button:hover {
    background-color: white;
} */
/* 
#pagination-wrapper button:focus {
    background-color: #fff;
    color: black;
} */
/* 
#pagination-wrapper button {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    margin-right: 5px;
} */



#filterbar {
    margin: 10px;
    margin-left: 2.5%;
}

/* Form of employee */

#add-Employee-form {
    font-size: 40px;
    padding: 30px;
    border: 3px solid black;
   display: none;

}

.add-Employee-form-class {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: 200ms ease-in-out;
    border: 10px solid dodgerblue;
    border-radius: 20px;
    z-index: 10;
    background-color: white;
    width: 900px;
    opacity: 0;
    max-width: 80%;
  
  }
  .add-Employee-form-class.active {
    opacity: 1;
    transform: translate(-50, -50) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
  }
  .title {
    text-align: center;
    margin-top: -20px;
  }
.input-tags{
    margin: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

  input{
    font-size: 2.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    width: 100%;
   line-height: 1.5;
    font-weight: bold;
    border: 3px solid dodgerblue;
    background-color: rgb(255, 255, 255);
  
 }
 #emp_status ,#emp_dept,#emp_position{
    font-size: 35px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
    width: 101%;
    font-weight: bold;
    border: 3px solid dodgerblue;
    background-color: rgb(255, 255, 255);
    line-height: 1;
 }
#emp_submit{ 
    font-size: 3rem;
    font-weight: bold;
        background-color:dodgerblue; 
        color: white; 
        border-radius: 10px;
        padding: 1rem;
  }
  #emp_submit:hover {
    background-color: white;
    color: black;
    border: 2px solid dodgerblue;
  }
  #emp_cancel{ 
    font-size: 3rem;
    font-weight: bold;
        background-color: dodgerblue; 
        color: white; 
        border-radius: 10px;
        padding: 1rem;
        
        
  }
  #emp_cancel:hover {
    background-color : white;
    color: black;
    border: 2px solid dodgerblue;
   
  }
#form_button{
    display: flex;
    justify-content: center;
    gap: 2%;
}
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0,0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
    display: block;
  }
  
  #emp_cancel{
    transition: all 300ms ease-in-out;
  }



  /*Edit share button*/

  #footer{
    width: 80%;
    display: flex;
    margin-top: 1rem;
    position: fixed;
    align-items: center;
    justify-content: start;
}

#pagination {
    margin: 25px;
    width: 15%;
    display: flex;
    justify-content: space-around;
    position: relative;
}

#pagination button {
    font-size: 22px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    width: 30px;
    text-align: center;
    border: 3px solid black;
    /* background-color: #52c41a; */
}
#pagination button:hover {
    color: white;
    background-color: royalblue;
    
}
#button-formet{
    width: 43%;
}
.delete-edit-class{
  
   margin-left: 15px;
   display: none;
   
}
.active-delete-button{
    display: inline;
}
#edit-emp , #delete-emp{
    background-color: white;
    color: dodgerblue;
    font-size: 1.3rem;
    padding: 5px;
    border: 2px solid dodgerblue;
    border-radius: 10px;
}